.modalOverlay {
  position: absolute;
  top: 0;
  right: 85px;
  background-color: rgb(var(--background-modal-filters));
  width: 100px;
  z-index: 1000;
  border: 1px solid rgb(var(--button-color-modal));
  border-radius: 8px;
  width: 50%;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 4px 16px 0px #1111111a;
}

.inProgress_wrap {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  padding: 18px;
  height: 125px;
  overflow-y: auto;
  scrollbar-width: none;
}

.inProgress_inner {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inProgress_btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}
.inProgress_btn:hover {
  background-color: rgba(var(--button-color-modal), 0.05);
}
.inProgress_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.inProgress_btn:hover .icon {
  stroke: rgb(var(--button-color-modal));
  transform: scale(1.1);
}

.inProgress_btn:hover .inProgress_text {
  color: rgb(var(--button-color-modal));
  transform: scale(1.1);
}

.activeButton .icon {
  stroke: rgb(var(--button-color-modal));
}
.activeButton .inProgress_text {
  color: rgb(var(--button-color-modal));
}
.inProgress_text {
  text-align: left;
  width: 90px;
  overflow: hidden;

  transition: all 200ms ease-in-out;
  white-space: nowrap;
  color: rgba(var(--text-color-mainboard), 0.5);
}

.icon {
  margin-left: auto;
  transition: all 200ms ease-in-out;
  fill: none;
  stroke: rgba(var(--text-color-mainboard), 0.5);
}
