@keyframes modalOpacity {
  0% {
    background-color: none;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  animation: modalOpacity 200ms ease-out forwards;
}

@keyframes modalSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  background-color: rgb(var(--background-modal_input));
  padding: 24px;
  border-radius: 8px;
  width: 335px;
  max-height: 100%;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid rgb(var(--svglogout), 0.5);
  animation: modalSlideIn 200ms ease-out forwards;
}

.header {
  left: 24px;
  top: 24px;
  width: auto;
  height: 27px;
}

.text {
  color: rgb(var(--text-color-modal_input));
  font-family: Poppins, medium;
  font-size: 18px;
  margin: 0;
}

.buttonClose {
  background-color: transparent;
  right: 18px;
  top: 18px;
  font-size: 18px;
  position: absolute;
  color: rgb(var(--button-close-svg));
  border: none;
  padding: 0;
}

.field {
  width: 100%;
  height: 49px;
  padding: 14px 18px;
  font-size: 14px;
  font-family: Poppins, regular;
  letter-spacing: -0.28px;
  background-color: rgb(var(--background-mainboard));
  border: 1px solid rgb(var(--field-border-modal));
  box-shadow: rgba(22, 22, 22, 0.08) 0px 4px 16px;
  outline: none;
  border-radius: 8px;
  color: rgb(var(--text-color-mainboard));
  transition: all 250ms ease-in-out;
  opacity: 0.4;
  margin-top: 24px;
}

.field:focus,
.field:hover {
  opacity: 1;
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(var(--button-color-modal));
  color: rgb(var(--button-add-column-text));
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 16px;
  margin-top: 24px;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: rgb(var(--field-focus-modal-border));
  transform: scale(1.04);
  letter-spacing: 0.6px;
}

.svgWrapper {
  width: 28px;
  height: 28px;
  background-color: rgb(var(--button-add-column-text));
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.icon {
  stroke: rgb(var(--icon-plus-add-card));
}

@media screen and (min-width: 768px) {
  .content {
    width: 350px;
  }
}
