.wrapper{
    display: flex;
width: 100%;
justify-content: right;
align-items: center;
}

.title{
    font-family: "Poppins", sans-serif;
    color: rgb(var(--text-color-mainboard));
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
}

.visible{
justify-content: space-between;
}
