.columnWrapper {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-shrink: 0;
  position: relative;
}

.lineWaveLoader {
  position: relative;
  left: 40%;
  color: red;
}

.button {
  height: 100%;
  max-height: 56px;
  padding: 14px 0;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 8px;
  background-color: rgb(var(--button-color-mainboard));
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.svgWrapper {
  width: 28px;
  height: 28px;
  background-color: rgb(var(--text-color-mainboard));
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_column {
  background: transparent;
  border: none;
}

.scrollBarTasks {
  max-height: 100%;
  overflow-y: scroll;
  padding-right: 4px;
  width: calc(100% + 12px);
  margin-right: -4px;
}

.tasksWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
}

.scrollBarTasks::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Фон полосы прокрутки */
.scrollBarTasks::-webkit-scrollbar-track {
  background-color: rgba(var(--mainboard-scrollbar-track-y));
  border-radius: 8px;
}

/* Ползунок (Thumb) */
.scrollBarTasks::-webkit-scrollbar-thumb {
  background-color: rgba(var(--mainboard-scrollbar-thumb-y));
  /* Основной цвет ползунка */
  border-radius: 8px;
  /* Радиус ползунка */
}

/* Ползунок при наведении */
.scrollBarTasks::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
  /* Цвет ползунка при наведении */
}

.buttonColumn {
  padding: 18px 20px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-mainboard));
}

.buttonColumnAdd {
  background-color: rgb(var(--button-color-modal));
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(var(--button-add-column-text));
  transition: all 200ms ease-in-out;
}

.buttonColumnAdd:active,
.buttonColumnAdd:hover,
.buttonColumnAdd:focus {
  background: rgb(var(--button-background-color));
  letter-spacing: 0.6px;
}

.svgWrapperAddCard {
  background-color: rgb(var(--button-add-column-text));
}

.svgWrapperColumn {
  display: flex;
  gap: 8px;
}

.columnSvgButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.iconColumn {
  stroke: rgba(var(--text-color-mainboard), 0.5);
  fill: transparent;
  transition: all 200ms ease-in-out;
}

.iconColumn:hover {
  stroke: rgb(var(--text-color-mainboard));
}

.iconAddCard {
  stroke: rgb(var(--icon-plus-add-card));
}

.icon {
  stroke: rgb(var(--button-color-mainboard));
}

@media (min-width: 375px) {
  .button {
    max-width: 334px;
  }

  .columnWrapper {
    width: 100%;
    max-width: 334px;
  }
}

@media (min-width: 768px) {
  .scrollBarTasks {
    padding-right: 8px;
    width: calc(100% + 16px);
    margin-right: -8px;
  }
}

.modalOverlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(rgba(16, 16, 16, 0.7), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContainer {
  width: 335px;
  height: auto;
  border-radius: 8px;
  background: rgb(var(--background-hover-board));
  padding: 24px;
  border: 1px solid rgb(var(--button-color-modal), 0.5);
  padding: 40px 20px;
}

.closeButton {
  background: transparent;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
  position: absolute;
  top: 5%;
  right: 5%;
  fill: transparent;
  transform: rotate(45deg);
  stroke: rgb(var(--text-color-mainboard));
}

.modalText {
  color: rgb(var(--text-color-mainboard));
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.36px;
  text-align: center;
  span {
    color: rgb(var(--text-color-mainboard));
  }
}

.containerButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  align-items: center;
}

.modalButton {
  width: 100%;
  padding: 10px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgb(var(--button-color-modal));
  color: rgb(var(--button-add-column-text));
  font-weight: 500;
  letter-spacing: -0.28px;
  outline: none;
  border: none;
  transition: all 200ms ease-in-out;
}

.modalButton:active,
.modalButton:hover,
.modalButton:focus {
  background: rgb(var(--button-background-color));
  transform: scale(1.04);
  letter-spacing: 0.6px;
}

.modalButton:focus,
.closeButton:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 375px) {
  .container {
    width: 290px;
  }
}
