.taskContainer{
position: relative;
padding: 14px 20px 14px 24px;
display: flex;
flex-direction: column;
justify-content: center;
align-items:baseline;
max-height: 154px;
background-color: rgb(var(--button-color-mainboard));
border-radius: 8px;
}

.taskContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #8fa1d0;
    border-radius: 4px 0 0 4px;

}

.title{
font-weight: 600;
font-size: 14px;
letter-spacing: -0.02em;
color: rgb(var(--text-color-mainboard));
}

.descr{
    /* max-height: 34px; */
    overflow: hidden;
font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(var(--text-task-descr));
}

.optionsContainer{
    width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.optionsWrapper{
    display: flex;
gap: 14px;
}

.option{
display: flex;
flex-direction: column;
    gap: 4px;
}

.optionLabel{
font-weight: 400;
font-size: 8px;
letter-spacing: -0.02em;
color: rgba(var(--text-color-mainboard), 0.5);
}

.priorityValue{
    display: flex;
        gap: 4px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
color: rgb(var(--text-color-mainboard));

}

.priorityValue::before{
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #8fa1d0;
}


.deadlineDate {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
    color: rgb(var(--text-color-mainboard));

}

.btnsWrapper{
display: flex;
gap: 8px;
}

.btnOptions{
cursor: pointer;
border: none;
background-color: transparent;

}

.icon{
    fill: none;
    stroke: rgba(var(--text-color-mainboard), 0.5);
}


.line {
    width: 100%;
    border-top: 1px solid rgba(var(--text-color-mainboard), 0.1);
    margin: 14px 0;
}

