.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(var(--background-mainboard));
  margin: 0;


}

.mainWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 24px;
}

.noBoard{
justify-content: center;
  align-items: center;
}

.boardCreated{
  justify-content: baseline;
  align-items: baseline;
}

.button{
  padding: 14px 78px;
  border: none;
  border-radius: 8px;
  background-color: rgb(var(--button-color-mainboard));
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.svgWrapper{
 width: 28px;
  height: 28px;
  background-color: rgb(var(--text-color-mainboard));
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSpan{
font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-mainboard));
}

.icon{
  stroke: rgb(var(--button-color-mainboard));
}

.text{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(var(--text-color-mainboard), 0.7);
}

.linkCreate{
  color: rgb(var(--button-create-board));

}
