.main {
  background-color: rgb(var(--background-mainboard));
  width: 100vw;
  height: calc(100vh - 60px);
}

.mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 24px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainWrapper {
width:100%;
  height: 100%;
  flex: 1;
  display: flex;
  padding: 0 20px  36px 20px;
  overflow: auto;
  position: relative;
}

.scrollbarColumn{
  width: 100%;
  flex-shrink: 0;
    overflow-x: scroll;
    padding-bottom: 10px;
    height: calc(100% + 12px);
    margin-bottom: -10px;
}

.columnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 34px;
}

.scrollbarColumn::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Фон полосы прокрутки */
.scrollbarColumn::-webkit-scrollbar-track {
  background-color: rgb(var(--mainboard-scrollbar-track-x));
  border-radius: 12px;
}

/* Ползунок (Thumb) */
.scrollbarColumn::-webkit-scrollbar-thumb {
  background-color: rgba(var(--mainboard-scrollbar-thumb-x));
  /* Основной цвет ползунка */
  border-radius: 12px;
  /* Радиус ползунка */
}

/* Ползунок при наведении */
.scrollbarColumn::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
  /* Цвет ползунка при наведении */
}

.button {
  flex-shrink: 0;
  height: 100%;
  max-height: 56px;
  padding: 14px 0;
  width: 100%;
  max-width: 280px;
  border: none;
  border-radius: 8px;
  background-color: rgb(var(--button-color-mainboard));
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgb(var(--text-color-mainboard));
}

.svgWrapper {
  width: 28px;
  height: 28px;
  background-color: rgb(var(--text-color-mainboard));
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon {
  stroke: rgb(var(--button-color-mainboard));
}

.boardCreated {
  justify-content: start;
  align-items: baseline;
}

.text {
  position: absolute;
  bottom: 380px;
    left: 50%;
    transform: translateX(-50%);
  width: 88%;
  max-width: 335px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(var(--text-color-mainboard), 0.7);
}

.linkCreate {
  background-color: transparent;
  border: none;
  color: rgb(var(--button-create-board));
}

@media screen and (min-width: 376px) {
  .button {
    max-width: 334px;
  }
    .text {
      font-size: 14px;
      line-height: 1.29;}
            .columnWrapper {
              width: 100%;
              max-width: 334px;}
}

@media screen and (min-width: 769px) {
  .main {
    width: calc(100vw - 260px);
      height: calc(100vh - 68px);
    }
  .button {
    width: 334px;
  }
  .text {
    width: 92%;
    max-width: 486px;
    bottom: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
    .scrollBarTasks {
      padding-right: 8px;
      width: calc(100% + 16px);
      margin-right: -8px;
    }
}
