.main {
  background-color: rgb(var(--background-mainboard));
  width: 100vw;
  height: calc(100vh - 60px);
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainWrapper {
  width: 100%;
  height: calc(100% - 60px);
  flex: 1;
  display: flex;
  padding: 10px;
}

.boardCreated {
  justify-content: start;
  align-items: baseline;
}

.noBoard {
  justify-content: center;
  align-items: center;
}

.colorRingWrapper {
  display: block;
  margin: auto auto;
}

.scrollbarColumn {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow-x: scroll;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.columnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 34px;
}

.scrollbarColumn::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbarColumn::-webkit-scrollbar-track {
  background-color: rgb(var(--mainboard-scrollbar-track-x));
  border-radius: 12px;
}

.scrollbarColumn::-webkit-scrollbar-thumb {
  background-color: rgba(var(--mainboard-scrollbar-thumb-x));
  border-radius: 12px;
}

.scrollbarColumn::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--button-add-column), 0.7);
}

.button {
  flex-shrink: 0;
  height: 100%;
  max-height: 56px;
  padding: 14px 0;
  width: 100%;
  max-width: 280px;
  border: none;
  border-radius: 8px;
  background-color: rgb(var(--button-color-mainboard));
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-mainboard));
  transition: all 200ms ease-in-out;
}

.button:active,
.button:hover,
.button:focus {
  background-color: rgb(var(--add-column));
  letter-spacing: 0.2px;
  transform: scale(1.02);
}

.svgWrapper {
  width: 28px;
  height: 28px;
  background-color: rgb(var(--button-add-column));
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  stroke: rgb(var(--button-color-mainboard));
}

.text {
  max-width: 335px;
  padding: 0 10px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(var(--text-color-mainboard), 0.7);
}

.linkCreate {
  background-color: transparent;
  border: none;
  color: rgb(var(--button-create-board));
}

@media screen and (min-width: 376px) {
  .mainWrapper {
    padding: 0 32px 32px 32px;
  }
  .header {
    padding: 10px 32px;
  }
  .button {
    max-width: 334px;
  }
  .text {
    max-width: 526px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.29;
  }
  .columnWrapper {
    width: 100%;
    max-width: 334px;
  }
}

@media screen and (min-width: 769px) {
  .main {
    width: calc(100vw - 260px);
    height: calc(100vh - 68px);
  }

  .mainWrapper {
    padding: 0 24px 8px 24px;
  }

  .button {
    width: 334px;
  }
  .header {
    padding: 10px 24px;
  }

  .scrollBarTasks {
    padding-right: 8px;
    width: calc(100% + 16px);
    margin-right: -8px;
  }
}
