.header {
  width: 100%;
  background-color: aqua;
  height: 68px;
  background-color: rgb(var(--background-header));
  display: flex;
  justify-content: right;
  padding: 18px 32px;
  align-items: center;
}

.header_menu {
  stroke: rgb(var(--text-color-mainboard));
}

.burger_menu {
  display: none;
  z-index: 4;
  position: relative;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .burger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    justify-content: space-between;
  }
}
