.header {
  width: 100%;
  background-color: aqua;
  height: 68px;
  background-color: rgb(var(--background-header));
  display: flex;
  justify-content: right;
  padding: 18px 20px;
  align-items: center;
}

.header_menu {
  stroke: rgb(var(--text-color-mainboard));
}

.burger_menu {
  display: none;
  z-index: 4;
  position: relative;
  background-color: transparent;
  border: none;
}

.header_down.rotated {

  transform: rotate(180deg);

}

.header_theme {
  color: rgba(22, 22, 22, 0.8);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.header_down {
  stroke-width: 1.5px;
  stroke: rgba(22, 22, 22, 0.8);
}

.header_user {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-right: 8px;
}

.select_theme {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.header_avatar {
  border-radius: 8px;
}

.select_user {
  display: inline-flex;
  align-items: center;
  padding-left: 14px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 45px;
  right: 85px;
  background-color: rgb(var(--background-header));
  width: 100px;
  height: 107px;
  z-index: 1000;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 100px;
  height: 107px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.theme_choise {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
    cursor: pointer;
}

.selected {
  color: #bedbb0; 
}

.theme_choise:hover {
  font-weight: 500;
  font-size: 15px;

}

.modalContent {
  margin-top: 18px;
  margin-left: 18px;
}

@media screen and (max-width: 768px) {
  .burger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    justify-content: space-between;
  }
}
