.header {
  width: 100%;
  background-color: aqua;
  height: 60px;
}

.burger_menu {
  display: none;
  z-index: 4;
  position: relative;
}

@media screen and (max-width: 768px) {
  .burger_menu {
    display: block;
  }
}
