.side {
  width: 260px;
  background-color: rgb(var(--background-sidebar));
  height: 100vh;
  z-index: 5;
  transition: left 200ms ease-in-out;
  padding: 24px;
}

.svg_logo {
  background-color: rgb(var(--background-logo));
  border-radius: 8px;
}

.logo_link {
}

.use {
  fill: rgb(var(--logo));
}

@media screen and (max-width: 768px) {
  .side {
    position: absolute;
    top: 0;
    left: -100%;
  }

  .open {
    height: 100vh;
    left: 0;
  }
}
