.side {
  width: 260px;
  background-color: rgb(var(--background-sidebar));
  height: 100vh;
  z-index: 100;
  transition: left 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}

.svg_logo {
  fill: rgb(var(--logo));
}

.logo_link {
  margin-left: 24px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  align-items: center;
  color: rgb(var(--text-color-sidebar-and-header));
  font-weight: 600;
}

.logo_container {
  background-color: rgb(var(--background-logo));
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under_logo {
  padding-left: 24px;
  margin: 60px 0 8px 0;
  font-size: 12px;
  font-weight: 400;
  color: rgb(var(--text-color-sidebar-and-header), 0.5);
}

.create_title {
  color: rgb(var(--text-color-sidebar-and-header));
  width: 76px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.create_top_container {
  padding: 0 24px 0 24px;
}

.create_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 96px;
  padding: 14px 0 14px 0;
  border-top: 1px solid rgb(var(--text-color-sidebar-and-header), 0.1);
  border-bottom: 1px solid rgb(var(--text-color-sidebar-and-header), 0.1);
  transition: background-color 200ms ease-in-out;
}

.create_container:hover {
  border-radius: 8px;
  background-color: rgb(var(--background-hover-board));
}

.create_container:hover .icon {
  transform: rotate(90deg);
  transition: transform 200ms ease-in;
}

.create_button {
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(var(--button-create-board));
  border: none;
}

.icon {
  stroke: rgb(var(--svg-plus));
}

.board_list {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto;
  height: 270px;
}

.board_list::-webkit-scrollbar {
  width: 0;
}

.board_item {
  position: relative;
  transition: background-color 200ms ease-in-out;
}

.board_item:hover {
  background-color: rgb(var(--background-hover-board));
}

.active {
  background-color: rgb(var(--background-hover-board));
  display: block;
}

.active::before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 10px 0 0 10px;
  width: 4px;
  background-color: rgb(var(--border-board-color));
}

.active .board_item_title {
  color: rgb(var(--text-color-sidebar-and-header));
}

.active .board_item_svg {
  fill: rgb(var(--text-color-sidebar-and-header));
}

.board_item_title {
  transition: all 250ms ease-in-out;
}

.board_item_svg {
  transition: all 250ms ease-in-out;
}

.board_title_container {
  gap: 8px;
  display: flex;
  align-items: center;
  span {
    color: rgb(var(--text-color-sidebar-and-header), 0.5);
    font-size: 14px;
    font-weight: 500;
  }
  svg {
    fill: rgb(var(--text-color-sidebar-and-header), 0.5);
  }
}

.board_svg_container {
  display: flex;
  gap: 8px;
}

.board_svg {
  stroke: rgb(var(--text-color-sidebar-and-header), 0.5);
  fill: transparent;
}

.board_list_container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_logout_btn {
  margin-left: 24px;
  margin-top: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
  gap: 14px;
  padding: 0;
  h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: rgb(var(--text-color-sidebar-and-header));
  }
}

.side_logout_btn:hover {
  background-color: rgb(var(--background-hover-board));
  border-radius: 8px;
}

.side_logout_svg {
  stroke: rgb(var(--svglogout));
  fill: transparent;
}

.side_help {
  margin-left: 24px;
  margin-right: 24px;
  max-width: 100%;
  cursor: pointer;
  position: relative;
}

.side_help_span {
  color: rgb(var(--text-color-sidebar-and-header));
  display: none;
  position: absolute;
  max-width: 212px;
  width: 100%;
  font-size: 14px;
  background-color: rgb(var(--needhelpplatform));
  padding: 10px 20px 20px 20px;
  border-radius: 8px 8px 0 0;
  top: -211px;
  transition: all 200ms ease-in-out;
  span {
    color: rgb(var(--logonameplatform));
  }
  p {
    width: 172px;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.side_help:hover .side_help_span {
  display: block;
  animation: slideInUp 0.5s ease forwards;
}

.side_help_text {
  color: rgb(var(--text-color-sidebar-and-header));
  background-color: rgb(var(--needhelpplatform));
  font-size: 12px;
  border-radius: 8px;
  font-weight: 500;
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  svg {
    stroke: rgb(var(--text-color-sidebar-and-header));
    fill: transparent;
  }
}

@media screen and (max-width: 768px) {
  .side {
    position: absolute;
    top: 0;
    left: -100%;
  }

  .open {
    height: 100vh;
    left: 0;
  }

  .overlay {
    position: absolute;
    z-index: 100;
    background-color: rgb(21, 21, 21, 0.7);
    width: 100%;
    height: 100vh;
  }

  .board_list {
    height: 200px;
  }
}

@media screen and (max-width: 375px) {
  .side {
    width: 225px;
    padding-top: 14px;
  }
  .logo_link {
    margin-left: 14px;
  }
  .create_top_container {
    padding: 0 14px 0 14px;
  }
  .under_logo {
    padding-left: 14px;
    margin-top: 70px;
  }

  .board_list_container {
    padding-left: 14px;
    padding-right: 14px;
  }
  .create_container {
    gap: 77px;
  }
  .side_help {
    margin-left: 14px;
    margin-right: 14px;
  }
  .side_help_text {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
  }
  .side_help_span {
    max-width: 198px;
    width: 100%;
    top: -185px;
    padding: 8px 14px 14px 14px;
    font-size: 12px;
    p {
      width: 168px;
    }
  }

  .side_logout_btn {
    h2 {
      font-size: 14px;
    }
  }

  .board_list {
    height: 180px;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
