.welcomePage {
  width: 100%;
  height: 100vh;
  background: rgb(190, 219, 176);
  background: linear-gradient(
    0deg,
    rgba(190, 219, 176, 1) 10%,
    rgba(248, 251, 246, 1) 49%,
    rgba(255, 255, 255, 1) 91%
  );
}

.welcomeContent {
  max-width: 375px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.taskPro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 24px;
}

.welcomeImage {
  width: 124px;
  height: 124px;
  margin-bottom: 14px;
}

.logoContainer {
  background-color: rgb(var(--background-logo));
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgLogo {
  fill: rgb(var(--logo));
}

.welcomeHeader {
  color: #161616;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
  text-align: center;
}

.welcomeText {
  color: #161616;
  text-align: center;
  font-size: 14px;
  line-height: 1.28em;
  letter-spacing: -0.01em;
  margin-bottom: 48px;
}

.welcomeRegBtn {
  border-radius: 8px;
  background: #161616;
  max-width: 335px;
  width: 100%;
  padding: 14px 0px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 14px;
  -webkit-tap-highlight-color: transparent;
  --neon: #7b7ede;
  box-sizing: border-box;
  display: block;
  outline: 4px solid #fff;
  outline-offset: -4px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s linear 0.1s;
}

.welcomeRegBtn,
.welcomeRegBtn *,
.welcomeRegBtn :after,
.welcomeRegBtn :before,
.welcomeRegBtn:after,
.welcomeRegBtn:before {
  border: 0 solid;
  box-sizing: border-box;
}

.welcomeRegBtn:-moz-focusring {
  outline: auto;
}

.welcomeRegBtn [hidden] {
  display: none;
}

.welcomeRegBtn:hover {
  background: var(--neon);
  box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
    0 0 100px var(--neon);
  color: #fff;
  outline-color: transparent;
  transition: 0.2s linear 0.6s;
}

.welcomeRegBtn span {
  display: block;
  inset: 0;
  position: absolute;
}

.welcomeRegBtn .top {
  border-top: 4px solid var(--neon);
  opacity: 0;
  transform: translateX(calc(-100% + var(--progress, 0%)));
  transition: none;
}

.welcomeRegBtn:hover .top {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear;
}

.welcomeRegBtn .right {
  border-right: 4px solid var(--neon);
  opacity: 0;
  transform: translateY(calc(-100% + var(--progress, 0%)));
  transition: none;
}

.welcomeRegBtn:hover .right {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.2s;
}

.welcomeRegBtn .bottom {
  border-bottom: 4px solid var(--neon);
  opacity: 0;
  transform: translateX(calc(100% - var(--progress, 0%)));
  transition: none;
}

.welcomeRegBtn:hover .bottom {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.4s;
}

.welcomeRegBtn .left {
  border-left: 4px solid var(--neon);
  opacity: 0;
  transform: translateY(calc(100% - var(--progress, 0%)));
  transition: none;
}

.welcomeRegBtn:hover .left {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.6s;
}

.welcomeLogBtn {
  position: relative;
  border: 1px solid #7b7ede;
  border-radius: 12px;
  padding: 0px 14px;
  transition-property: border-color;
  transition-duration: 0.2s;
  cursor: pointer;
  color: #161616;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  transition: all 200ms ease-in-out;

  &:hover,
  &:focus-visible {
    border-color: transparent;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 1;
    }
  }
}

.welcomeLogBtn::before,
.welcomeLogBtn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition-property: opacity;
}

.welcomeLogBtn::before {
  box-shadow: 0 0 2px #fff, 0 -2px 6px #7b7ede, 2px 0 6px #7b7ede,
    -2px 0 6px #7b7ede, 0 2px 6px #7b7ede;
  transition-duration: 0.2s;
}

.welcomeLogBtn::after {
  box-shadow: 0 0 8px 4px #fff, 0 -4px 12px 4px #7b7ede, 0 4px 12px 4px #7b7ede,
    -4px 0 12px 4px #7b7ede, 4px 0 12px 4px #7b7ede;
  transition-duration: 0.4s;
}
/* ===============MEDIA 768============== */

@media screen and (min-width: 768px) {
  .welcomePage {
    padding: 0px;
  }

  .welcomeContent {
    max-width: 513px;
  }

  .welcomeImage {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }

  .logoContainer {
    width: 48px;
    height: 48px;
  }

  .svgLogo {
    fill: rgb(var(--logo));
    width: 24px;
    height: 28px;
  }

  .welcomeHeader {
    font-size: 40px;
    letter-spacing: -0.04em;
  }

  .welcomeText {
    letter-spacing: -0.02em;
  }

  .welcomeRegBtn {
    width: 344px;
  }
}

/* ===============MEDIA 1440============== */

@media screen and (min-width: 1440px) {
  .welcomeImage {
    margin-bottom: 24px;
  }

  .welcomeHeader {
    font-size: 40px;
  }
}
