.backgroundImages {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 6px;
  border: none;
}

.activeBackground {
  border: 1px solid blue;
}

.iconBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f7;
  border-radius: 6px;
  padding: 6px;
  stroke: #161616;
  stroke-opacity: 0.1;
}
